doctype html
html
  head
    style.
      html, body{
      background-color: #000000;
      height: 100%;
      width: 100%;
      overflow: hidden;
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')

  body
    script(src='js/gyronorm.js')
    script(src='js/canvas.1.js')
    script(src='js/grid.js')
    script(src='js/vehicle.js')
    script(src='js/main.1.js')
    script(src='js/initGyro.1.js')
