include inc/header.pug
.container
  br
  h2 Register the Vehicle
.container
  form(method='post')
    .form-group
      input#name.form-control(type='text', name='name' aria-describedby='emailHelp', placeholder='Name for the vehicle')
    .form-group
      input#number_plate.form-control(type='text', name='number' placeholder='Number plate')
      small#emailHelp.form-text.text-muted Number plate shall be unique
    .form-group
      input#number_plate.form-control(type='text', name='type' placeholder='Vehicle Type')
      small#emailHelp.form-text.text-muted Number plate shall be unique
    button.btn.btn-primary(type='submit') Register
