include inc/header.pug
.container
  br
  h2 User Profile: 
.container
      br
      ul.list-group
        li.list-group-item.active Name: #{data.name}
        li.list-group-item Number Plate: #{data.number_plate} 
        li.list-group-item Data1: empty
        li.list-group-item Data2: empty
        li.list-group-item Data3: empty