html
  head
    style.
      html, body{
      background-color: #000000;
      height: 100%;
      width: 100%;
      overflow: hidden;
      }
  body
    script(src='js/gyronorm.js')
    script(src='js/regression.js')
    script(src='js/synaptic.min.js')
    script(src='js/three.min.js')
    script(src='js/canvas.js')
    script(src='js/grid.js')
    script(src='js/vehicle.js')
    script(src='js/main.js')
    script(src='js/initGyro.js')
